body {
    font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    letter-spacing: 0;
    color: black;
    font-weight:400;
}

.colledge-name {
    border-left: 1px solid gray;
    display: inline-block;
    height: 100px;
    left: 250px;
    position: absolute;
    top: 10px;
    width: 115px;
}

.colledge-name p{
    line-height:30px;
    color: #6d0017;
    font-size: 17px;
    font-weight: 400;
    position: relative;
    text-align: center;
    top: 20px;
}

.jumbotron {
    background-color:#6d0017 ;
    padding:10px;
    margin-top:-7px;
    color:white;
    margin-bottom:0px;
}

.carousel-caption h2 {
    font-size:4em ;
}

.category-banner {
    background: #f5f5f5 none repeat scroll 0 0;
    padding:30px;
}

.category-description{
    padding:30px;
}

#navbar img {
    height:100px;
    margin-top:10px;
}

.navbar-nav a{
    color:black;
}
.people .row{
    margin-top:40px;
}

.people .row .col-lg-3{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight:400;
}

.navbar-nav .active > a {
    color: #6d0017 ;
}

.nav-header {
    width: 100%;
    z-index: 11111;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow:0px 3px 5px 0px rgba(102, 102, 102, 0.5); 
    -moz-box-shadow:0px 3px 5px 0px rgba(102, 102, 102, 0.5); 
    box-shadow:0px 3px 5px 0px rgba(102, 102, 102, 0.5);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-font-smoothing: antialiased;
    margin-bottom:7px;
}

.nav > li >  a{
    font-weight:400;
    font-size:1em;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: white;
    color: #6d0017 ;
}

.carousel {
    height: 400px;
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #e0e0e0;
}

.carousel-caption {
    z-index: 10;
    color: #6d0017;
    text-shadow:none;
    padding-bottom:0px;
}

.campus-name {
    border: 2px solid rgba(191, 199, 221, 0.8);
    border-radius: 50%;
    height: 140px;
    text-align: center;
    width: 140px; 
    margin: auto;
    overflow:hidden ;
    margin-bottom:20px;
}

.campus-name img{
    position:relative;
}
.campus-row {
    padding: 20px;
    text-align:center;
}
.carousel .item {
  height: 300px;
  background-color: #fff;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
}

.carousel-indicators li{
    border: 2px solid rgba(210, 218, 241, 0.1);
    background-color: rgba(191, 199, 221, 0.8);
    border-radius: 20px;
    width:16px;
    height:16px;
}

.carousel-indicators .active{
    border: 2px solid rgba(191, 199, 221, 0.8);
    background-color: rgba(210, 218, 241, 0.1);
    border-radius: 20px;
    width:16px;
    height:16px;
}

.carousel-control.left{
    background-image:none;
}

.carousel-control.right {
    background-image:none;
}

.course-list {
}

.course:hover {
    background-color: gray ;
    color:white ;
}

.course {
    height:270px;
    text-align:center;
    overflow:hidden;
    background-color: #fff;
    margin-bottom: 10px;
    -webkit-box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.3); 
    -moz-box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.3); 
    box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.3);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-font-smoothing: antialiased;
}

.course img {
    width:261px;
    height:150px;
}

.gray-back {
    background-color:#f5f5f5;
    padding-top:20px;
}

.course .course-name {
    color: white;
    text-align: center;
    height:150px;
    font-size: 22px;
    border: 0px;
    line-height:150px;
}

.course-name p {
    position: relative;
    margin: auto;
    overflow: auto;
    bottom: 0;
    left: 0;
    right: 0;
    line-height:34px;
}

.course-name > .one-line {
    top: 41px;
}

.course-name > .two-line {
    top: 20px;
}
.core-course {
    background-color: #6d0017;
}

.select-course {
    background-color: #e38d13;
}

.area-nav {
    text-align: center;
}

.area {
    height:70px;
    line-height:70px;
    border-bottom:1px solid gray;
    font-weight:bold;
}
.area-1 {
    display: none;
}
.area-2 {
    display: none;
}
.area-3 {
    display: none;
}
.area-4 {
    display: none;
}
.area-5 {
    display: none;
}
.area-6 {
}

.area-a:hover, .area-a:focus {
    color: black;
}
.area-nav a {
    color: #6d0017;
    cursor: pointer;
    text-decoration: none;
}

.area-nav a[name="area-6"]{
    color:black;
}

.internation-tag {
    color:white;
    background-color: black;
    font-size: 19px;
    line-height: 40px;
    position: absolute;
    top: 110px;
    width: 100%;
    opacity:0.4;
    filter:alpha(opacity=40); 
    -moz-opacity:0.4;
    -khtml-opacity: 0.4;
}

.hour-tag {
    display: block;
    border-radius: 50%;
    height: 50px;
    width:50px;
    line-height:50px;
    background-color: black;
    opacity:0.4;
    filter:alpha(opacity=40); 
    -moz-opacity:0.4;
    -khtml-opacity: 0.4;
    position: absolute;
    top:10px;
    right:10px;
    font-size:22px;
    color:white;
}

.description-banner .lead {
    font-size:19px;
}

