
<div class="masthead clearfix">
    <div class="inner">
        <h3 class="masthead-brand">{{site.title}}</h3>
        <nav>
            <ul class="nav masthead-nav">
                <li><a style="color: white;" href="home.html">Home</a></li>
                <!--
                <li class="active"><a>Home</a></li>
                {% for p in site.pages %}
                    {% if p.title %}
                        <li class= {% if page.title == p.title %}"active"{%  endif %} >
                            <a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                -->
            </ul>
        </nav>
    </div>
</div>
